<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <a href="{{@site.url}}">
                    <h5 class="white-text">A Bit of Coding</h5>
                </a>
                <p class="grey-text text-lighten-4">code snippets, tutorials, and programming thoughts</p>
                <div class="social">
                    <a class="white-text" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS"
                        target="_blank" rel="noopener"><i class="fas fa-rss"></i></a>
                    <a class="instagram white-text" href="https://www.instagram.com/abitofcoding" title="Instagram"
                        target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                    <a class="white-text" href="mailto:admin@abitofcoding.com?subject=Mail from A Bit of Coding"><i
                            class="far fa-envelope"></i></a>
                </div>
            </div>
            <div class="col l4 offset-l2 s12" id="footer-nav">
                <h5 class="white-text">Links</h5>
                {{navigation}}
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Brittany Fortner
        </div>
    </div>
</footer>