<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <a href="{{@site.url}}">
                    <h5 class="white-text">A Bit of Coding</h5>
                </a>
                <p class="grey-text text-lighten-4">code snippets, tutorials, and programming thoughts</p>
            </div>
            <div class="col l4 offset-l2 s12" id="footer-nav">
                <h5 class="white-text">Links</h5>
                {{navigation}}
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Brittany Fortner
        </div>
    </div>
</footer>