{{!< default}}

<div class="container">
    <div class="row main-row">
        <div class="col s12">
            {{#get "posts" filter="featured:true" as |featured|}}
            {{#is "home"}}
            {{#if featured}}
            <div class="col s12">
                {{#foreach featured}}
                {{> "card"}} {{!-- partials/card.hbs --}}

                {{/foreach}}

            </div>
            {{/if}}
            {{/is}}
            {{/get}}
            <div class="gh-postfeed">
                {{#foreach posts}}
                {{#unless featured}}
                <div class="col s12 m6">

                    {{> "card"}} {{!-- partials/card.hbs --}}
                </div>
                {{/unless}}
                {{/foreach}}
            </div>
        </div>
    </div>
    <div>
        {{pagination}}
    </div>
</div>